services:
  backend:
    image: meowlib.webapi
    build:
      context: .
      dockerfile: MeowLib.WebApi/Dockerfile
      
  nginx:
    image: nginx
    ports:
      - "8080:80"
    
    volumes:
      - ~/RiderProjects/NGINX:/etc/nginx/
    
    environment:
      - NGINX_PORT=80

  frontend:
    image: meowlib.frontend
    build:
      context: ./../MeowLib.Frontend
      dockerfile: ./Dockerfile
      
    environment:
      - REACT_APP_URL_API=""